- if @products.empty?
  %p No products for this company.
- else
  .container
    .row
      %table.table.table-striped.col-xs-10
        %caption Products
        %tr
          %th ID
          %th Name
          %th Price
          %th Description
          %th Photo
        - @products.each do |p|
          %tr
            %td= p.id
            %td= link_to p.name, company_product_path(@company, p)
            %td= p.price
            %td= p.description
            %td= image_tag p.picture.thumb.url, class: "img-thumbnail"
    .row
      .center= will_paginate @products, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1