.container
  .row
    .col-xs-2
    .col-xs-8
      %blockquote
        .row
          .col-xs-8
            %h1= @product.name
            %h3= "ID: #{@product.id}"
            %h3= "Price: #{@product.price}"
            %h3= "Description: #{@product.description}"
            .btn-group
              = link_to "Edit product", edit_company_product_path, class: "btn btn-default"
              = link_to "Delete product", company_product_path, method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-default"
              = link_to "Go to all products", company_path(params[:company_id]), class: "btn btn-default"
          .col-xs-4
            = image_tag @product.picture.url, class: "img-thumbnail"
    .col-xs-2